
<div class="container" style="margin-top: 3rem;">
    <div class="card">
      <div class="card-body">
        <h5>Department Entry</h5>
        <form [formGroup]="addDepartmentForm" (ngSubmit)="submitAction()">
          <div class="row" style="margin-top: 2rem">
            <div class="col-2">
              <label class="">Code:</label>
            </div>
            <div class="col-4">
              <input
                type="number"
                formControlName="code"
                class="form-control"
                placeholder="Code"
              />
            </div>
            <div class="col-2"></div>
            <div class="col-4">
              <label class="">Add Department</label>
              <select
                class="form-select"
                formControlName="dept"
                (change)="selectChangeHandler($event)"
              >
                <option [selected]="true">Select Department</option>
                <option value="HRDept">HRDept</option>
                <option value="Designation">Manager</option>
                <option value="Staff">Staff</option>
              </select>
            </div>
          </div>
          <div class="row" style="margin-top: 1rem">
            <div class="col-2">
              <label class="">Name:</label>
            </div>
            <div class="col-5">
              <input
                type="text"
                formControlName="name"
                class="form-control"
                placeholder="Name"
              />
            </div>
            <div class="col-5"></div>
          </div>
          <div class="row" style="margin-top: 1rem">
            <div class="col"></div>
            <div class="col">
              <button type="submit" class="btn btn-primary">Submit</button
              >&nbsp;&nbsp;
              <button type="button" class="btn btn-primary">Show</button>
            </div>
            <div class="col"></div>
          </div>
        </form>
        <br />
      </div>
    </div>
    <div class="content" style="margin-top: 4rem">
      <table
        class="table table-bordered"
        style="width: 45rem; float: none; margin: 0 auto"
      >
        <thead>
          <tr>
            <th scope="col">Code</th>
            <th scope="col">Full Name</th>
            <th scope="col">Department</th>
            <th scope="col" class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of empList | paginate: { itemsPerPage: 5, currentPage: p }">
            <th scope="row">{{ item.code }}</th>
            <!-- <th scope="row">{{ item.code }}</th> -->
            <td>{{ item.name }}</td>
            <td>{{ item.dept }}</td>
  
            <td class="text-center">
              <button
                type="button"
                class="btn btn-primary"
                (click)="openPopup(item)"
              >
                Edit</button
              >&nbsp;&nbsp;
  
              <button class="btn btn-danger" (click)="deleteAction(item)">
                Delete
              </button>
              <!-- <button  class="btn btn-danger" (click)="DeleteEmployeeInformation(item.code)" >Delete</button> -->
            </td>
          </tr>
        </tbody>
      </table><br>
      <pagination-controls (pageChange)="p = $event" style="text-align: center;"></pagination-controls>
    </div>
  </div>
  <div
    class="modal"
    tabindex="-1"
    role="dialog"
    [ngStyle]="{ display: displayStyle }"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit Department</h5>
        </div>
        <div class="modal-body">
          <form [formGroup]="editDepartmentForm" (ngSubmit)="updateMenu()">
            <div class="row">
              <div class="col-3">
                <label class="required">Name</label>
              </div>
              <div class="col-9">
                <input
                  type="text"
                  formControlName="name"
                  class="form-control"
                  placeholder="Name"
                />
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-3">
                <label class="required">Department</label>
              </div>
              <div class="col-9">
                <select
                  class="form-select"
                  formControlName="dept"
                  (change)="selectChangeHandler($event)"
                >
                  <option [selected]="true">Select Department</option>
                  <option>HRDept</option>
                  <option>Manager</option>
                  <option>Staff</option>
                </select>
              </div>
            </div>
            <br />
            <div class="text-center">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="closePopup()">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
  