<div class="w3-container w3-teal no-print">
  <h1>Department Entry</h1>
  
</div> 
<div class="w3-container" style="margin-top: 3rem;">
    <div class="card no-print">
      <div class="card-body">
        <h5>Department Entry</h5>
        <form [formGroup]="addDepartmentForm" (ngSubmit)="submitAction()">
          <div class="row" style="margin-top: 2rem">
            <div class="col-1">
              <label class="">Code:</label>
            </div>
            <div class="col-4">
              <label class="form-control readonly">
                {{lists?.code}}
              </label>
            </div>
            <div class="col"></div>
            <div class="col-2">
              <label class="">Add Department:</label>
            </div>
            <div class="col-3">
              <input
                type="text"
                formControlName="dept"
                class="form-control"
                placeholder="Enter department name"
              />
            </div>
          </div>
          <div class="row" style="margin-top: 1rem">
            <div class="col"></div>
            <div class="col">
              <button type="submit" class="btn btn btn-primary" [disabled]="addDepartmentForm.invalid">Submit</button
              >
            </div>
            <div class="col"></div>
          </div>
        </form>
        <br />
      </div>
    </div>
    
  </div>

  