<div class="w3-container w3-teal no-print">
  <h1>Designation Entry</h1>
  
</div> 
<div class="w3-container" style="margin-top: 1rem;">
    <div class="card no-print">
      <div class="card-body">
        <!-- <h5>Designation Entry</h5> -->
        <form [formGroup]="addDesignation" (ngSubmit)="submitAction()">
          <div class="row" style="margin-top: 1rem">
            <div class="col-2">
              <label class="">Code:</label>
            </div>
            <div class="col-4">
              <label class="form-control readonly">
                {{lists?.code}}
              </label>
            </div>
          </div>
          <div class="row" style="margin-top: 1rem">
            <div class="col-2">
              <label class="">Designation:</label>
            </div>
            <div class="col-5">
              <input
                type="text"
                formControlName="designation"
                class="form-control"
                placeholder="Designation"
              />
            </div>
            <div class="col-5"></div>
          </div>
          <div class="row" style="margin-top: 1rem">
            <div class="col-2">
              <label class="">Short Designation:</label>
            </div>
            <div class="col-5">
              <input
                type="text"
                formControlName="sdesignation"
                class="form-control"
                placeholder="Short Designation"
              />
            </div>
            <div class="col-5"></div>
          </div>
          <div class="row" style="margin-top: 3rem">
            <div class="col text-center">
              <button type="submit" class="btn btn-success">Save</button>&nbsp;&nbsp;
              <button type="button" class="btn btn-info" (click)="print()">Report</button>
          
              <!-- <button type="button" class="btn btn-primary">Edit</button>&nbsp;&nbsp;
              <button type="button" class="btn btn-danger">Delete</button> -->
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="content" style="margin-top: 2rem">
    <table
      class="table table-bordered"
      style="width: 75rem; float: right; margin-top: 4rem"
    >
      <thead >
        <tr class="table-dark">
          <th scope="col">Code</th>
          <th scope="col">Designation</th>
          <th scope="col">Short Desig</th>
          <th scope="col" class="text-center no-print">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of desigList">
          <th scope="row">{{item.code}}</th>
          <td>{{item.designation}}</td>
          <td>{{item.sdesignation}}</td>
          <td class="text-center no-print">
            <button type="button" class="btn btn-sm btn-primary" (click)="openPopup(item)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>&nbsp;&nbsp;
            <button  class="btn btn-sm btn-danger" (click)="deleteAction(item.code)"><i class="fa fa-trash" aria-hidden="true"></i></button>
            </td>
        </tr>
      </tbody>
    </table><br>
  </div>
  </div>
  <div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{'display':displayStyle}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit</h4>
        <i class="fa fa-times" aria-hidden="true" (click)="closePopup()" style="cursor: pointer;"></i>
      </div>
      <form [formGroup]="editDesignation" (ngSubmit)="updateMenu()">
      <div class="modal-body">
        <div class="form-group">
          <label>Designation</label>
          <input type="text" class="form-control" formControlName="designation">
        </div>
        <div class="form-group">
          <label>Short Designation</label>
          <input type="text" class="form-control" formControlName="sdesignation">
        </div>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
      <br>
    </form>
    </div>
  </div>
</div>