  <div class="w3-sidebar w3-light-grey w3-bar-block no-print" style="width:15%">
    <h3 class="w3-bar-item">Menu</h3>
    <a routerLink="1" class="w3-bar-item w3-button w3-border-bottom">Department List</a>
    <a routerLink="2" class="w3-bar-item w3-button w3-border-bottom">Designation Entry</a>
    <a routerLink="3" class="w3-bar-item w3-button w3-border-bottom">Employee Info</a>
  </div>
  
  <!-- Page Content -->
  <div class="" style="margin-left:15%">
  
    
  <router-outlet></router-outlet>
  </div>