  <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:15%">
    <h3 class="w3-bar-item">Menu</h3>
    <a routerLink="1" class="w3-bar-item w3-button w3-border-bottom">Department Entry</a>
    <a routerLink="2" class="w3-bar-item w3-button w3-border-bottom">Designation Entry</a>
    <a routerLink="3" class="w3-bar-item w3-button w3-border-bottom">Employee Info</a>
  </div>
  
  <!-- Page Content -->
  <div style="margin-left:15%">
  
  <div class="w3-container w3-teal">
    <h1>My Page</h1>
  </div> 
  </div>